extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Alex Giron

        p Full Stack JavaScript Developer

        .about-bio
          p Adaptable Bioengineering graduate, and now Full Stack Developer student, with 5+ years of work experience. Aiming to use academic experience and a proven knowledge of research and development to successfully fill the research and/or development roles at your company. Frequently praised as detail-oriented by my peers, I can be relied upon to help your company achieve its goals. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility and Responsive Design
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 803-203-7707
          li giron.alex@outlook.com

        a.btn-link(href='https://www.linkedin.com/in/alex-giron-' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/gironalex' target="_blank") GitHub
        a.btn-link(href='https://twitter.com/treehouse?lang=en' target="_blank") TreeHouse's Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back