extends layout

block content
  h1= `Server Error`
  h2= `Error status code: ${err.status} - Server Error`
  p= `Human friendly error message: ${err.message}`
  p= `Click "Back" to return`

  nav.nav
    a(href='/')
      span &larr;
      |  Back
