extends layout.pug

block content

  article.portfolio-intro

    h1 Hello World!

    p The purpose of this portfolio is to demonstrate my growth in skill sets as a Full Stack Developer.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}` alt=`${project.description}`)
            h5= project.project_name


