extends layout

block content
  div.container
    h1= `404 - Page Not Found`
    p.not-found-p= `Oops! You got a ${err.status} error code. That means the page you're looking for does not exist.`

    a.home(href=`/`) Home